.Header{
    display: flex;
    height: 100px;
    background-color: dimgray;
    justify-content: space-around;
    align-items: center;
    border-color: mediumspringgreen;
    border-width: 0 0 6px 0;
    border-style: dashed;
}
.Header a{
    font-size: xx-large;
    font-family: "Cooper Black",sans-serif;
    color: whitesmoke;
    text-decoration: none;
}