
.header{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.header a{
    font-size: xx-large;
    font-family: "Cooper Black",sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

#light.header_div {
    background-color: lightsteelblue;
    border-color: lightcyan;
    border-width: 10px 0 10px 0;
    border-style: dashed;
}

#dark.header_div {
    background-color: slategrey;
    border-color: mediumspringgreen;
    border-width: 10px 0 10px 0;
    border-style: dashed;
}

#light.main_div {
background: linear-gradient(0deg, rgba(238,255,255,0.88) 38%, rgba(189,235,255,0) 100%);


}

#dark.main_div {
    background: linear-gradient(0deg, rgba(0,97,45,0.87718837535014) 0%, rgba(0,0,0,1) 100%);;

}

.switch {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
}

.switch label {
    margin: 10px;
}

#light .switch label {
    color: steelblue;
    font-size: large;
}

#dark .switch label {
    color: white;
    font-size: large;
}

#light.switch_div{
    background-color: skyblue;
}

#dark.switch_div{
    background-color: darkslategray;
}